{{#if errorMsg}}
<div class="alert alert-danger alert-dismissible w-50 my-4 py-4 position-fixed" style="z-index: 1070;">
  <div class="text-center">{{errorMsg}}</div>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
