{{#if errorMsg}}
<error class="d-flex w-100 justify-content-center">
  <div class="alert alert-danger alert-dismissible w-50 mt-4 py-4 position-fixed"
      style="z-index: 1070; min-width: 20em;">
    <div class="text-center">{{errorMsg}}</div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</error>
{{/if}}
