<footer class="container d-flex flex-wrap justify-content-between align-items-center mt-auto my-4 border-top">
    <p class="col-md-4 mb-0 text-body-secondary">© 2024 Rent a Car, Inc</p>

    <ul class="nav justify-content-end">
        <li class="nav-item"><a href="https://www.linkedin.com/in/myron-giannakis/" target="_blank" class="nav-link px-2 text-body-secondary">Myron Giannakis</a></li>
        <li class="nav-item"><a href="https://github.com/G-Myron" target="_blank" class="nav-link px-2 text-body-secondary">Myron Giannakis</a></li>
    </ul>
</footer>
