<header class="navbar navbar-expand-md sticky-top bg-primary">
    <nav class="container navbar navbar-dark flex-wrap flex-md-nowrap">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" tabindex="-1">
                <img src="/logo.png" alt="Logo" height="40px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
                <span class="navbar-toggler-icon"></span>
            </button>
            {{#if username}}
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link {{#if home}}active{{/if}}" href="/">Home</a>
                    <a class="nav-link {{#if reserv}}active{{/if}}" href="/user/my_reservations">My reservations</a>
                    <a class="nav-link {{#if edit}}active{{/if}}" href="/user/edit">{{username}}</a>
                    <a class="nav-link" href="/auth/logout">Logout</a>
                </div>
            </div>
            {{/if}}
            {{>helpers/color_mode}}
        </div>
    </nav>
</header>
