
<h1 class="m-5 text-center">
  Welcome to the admin page
</h1>

<div class="text-center">
  <h4>See Admin's panel for:</h4>
  <div class="mt-5">
    <a class="btn btn-primary p-2 px-3 mx-3" href="/admin/users">
      <i class="bi bi-people me-1"></i>
      Users
    </a>
    <a class="btn btn-primary p-2 px-3 mx-3" href="/admin/cars">
      <i class="bi bi-car-front-fill me-1"></i>
      Cars
    </a>
    <a class="btn btn-primary p-2 px-3 mx-3" href="/admin/reservations">
      <i class="bi bi-journals me-1"></i>
      Reservations
    </a>
  </div>
</div>

