<div class="row">
    <div class="col-12">
        <h2 class="text-center">ERROR</h2>
    </div>
</div>
<div class="row mt-5 w-100">
    <div class="col-6 offset-3">
        <div class="alert alert-primary">{{message}}</div>
    </div>
</div>