<section class="container col-lg-9 py-5 w-100">
  <div class="mx-5 py-5 text-center text-lg-start bg-body-secondary">
    <div class="container col-lg-7" style="max-width: 30em;">
      <div class="card">
        <div class="card-body py-5 px-md-5">
          {{>form action="signup"}}
        </div>
      </div>
    </div>
  </div>
</section>
