<section class="container col-lg-9 py-5">
  <div class="mx-5 py-5 text-center bg-body-secondary">
    <div class="container col-lg-7 my-5">
      <div class="card">
        <div class="card-body py-5 px-md-5">
          {{>form register=1 action="signup"}}
        </div>
      </div>
    </div>
  </div>
</section>
