
<h2 class="w-100 my-5 pt-4 text-center">Edit Your account's information</h2>

<section class="container py-4 w-75">
  <div class="container">
    <div class="card bg-body-secondary">
      <div class="card-body py-5 px-md-5">
        {{>forms/login action="edit"}}
      </div>
    </div>
  </div>
</section>
