<section class="container py-5">
  <div class="px-4 py-5 px-md-5 text-center text-lg-start bg-body-secondary">
    <div class="row gx-lg-5 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <h1 class="my-5 display-3 fw-bold ls-tight">
          The best offer <br> <span class="text-primary">for your business</span>
        </h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Eveniet, itaque accusantium odio, soluta, corrupti aliquam
          quibusdam tempora at cupiditate quis eum maiores libero
          veritatis? Dicta facilis sint aliquid ipsum atque?
        </p>
      </div>

      <div class="col-lg-5 mb-5">
        <div class="card">
          <div class="card-body py-5 px-md-5">
            {{>form action="login"}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
