<section class="container py-5">
  <div class="px-4 py-5 px-md-5 text-center text-lg-start bg-body-secondary">
    <div class="row gx-lg-5 align-items-center">
      <div class="col-lg-6 mb-5 pb-lg-3">
        <h1 class="my-5 display-3 fw-bold ls-tight">
          <span class="text-primary">Rent</span> a car <span class="text-primary">today</span>
        </h1>
        <p>
          This is the final project of 4th year’s Web Programming class of the Electrical and Computer Engineering Department of the University of Patras.
        </p>
      </div>

      <div class="col-lg-5 mb-5">
        <div class="card">
          <div class="card-body py-5 px-md-5">
            {{>form action="login"}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
