
header {
  /* background: linear-gradient(var(--bs-primary) 80%, var(--bs-body-bg) 100%); */
  box-shadow: 0 2em 5em 3em var(--bs-body-bg);
}

.reservations #stars-rating {
  cursor: default;
}

.reservations #stars-rating > label:hover::before,
.reservations #stars-rating > label:hover ~ label::before,
.reservations #stars-rating > input:checked ~ label::before {
  content: "\f586"; /*bi-star-filled*/
}

